@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipo de Cuenta</h1>
<p>El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejamplos: Prestamos, tarjetas de credito, etc.
</p>
<div asp-validation-summary="ModelOnly" class="text-danger">  @*Esto hace que nos muestr los errores en la vista*@

</div>

<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label> @*Con el tag asp-for sincronizamos el tag con el que este en el modelo*@
        <input type="text" asp-for="Nombre" class="form-control" /> @*Tambien aqui modificamos id="Nombre" name="Nombre" por asp-for="Nombre" para que no se pierda*@
        <span asp-validation-for="Nombre" class="text-danger"></span> @*Esta etiqueta es para colocar los errores a cada una de las etiquetas*@
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}